{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Сумма</th>
      <th>Редактировать</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.first_name }} {{ item.last_name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.total_sum }}</td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' item.id %}">ред.</a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
