{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Статус</th>
      <th>Оплата</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Сумма</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Редактировать</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.first_name }} {{ item.last_name }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.get_payment_display }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.total_sum }}</td>
        <td>{{ item.comment }}</td>
        <td>
          <details>
            <summary>Рестораны</summary>
            <ul>
              {% for restaurant in item.restaurants %}
                <li>{{ restaurant.restaurant.name }} - {{ restaurant.distance }} км.</li>
              {% endfor %}
            </ul>
          </details>
        </td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' item.id %}">ред.</a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
