[Unit]
Description=star-burger gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/website/star-burger/code
ExecStart=/home/website/star-burger/.venv/bin/gunicorn --error-logfile - --access-logfile - --workers 3 --bind unix:/tmp/star-burger.sock star_burger.wsgi:application

[Install]
WantedBy=multi-user.target
